<html lang="en">
    {% load static %}
    
    <body>
        <div class="bg-neutral">
            <div class="grid min-h-screen place-items-center">
                <div class="card">
                    <div class="aura aura-glow text-orange-600 bg-yellow-200">
                        <div class="card text-base-content bg-[#000000]">
                            <div class="card-body m-72 bg-[#000000]">
                                <div class="grid-cols-1 sm:grid-cols-2 gap-1 sm:gap-4">
                                    <div class="grid-item">
                                        <p class="text-4xl mb-12">Signup</p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
