{% load static %}
<!DOCTYPE html>
<p class="font-mono py-2 text-6xl text-[#F4F4F9] tracking-wide">Enter OTP</p>
<div class="fieldset flex-1 border-base-300 rounded-box w-full border p-4">
    <form hx-post="{% url "otp" %}" hx-target="#authentication">
        {% csrf_token %}
        <div class="w-full flex items-center justify-center">
            
            <label class="otp otp-xl otp-warning {% if incorrect %}otp-error{% endif %}">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <input type="text"
                       autocomplete="one-time-code"
                       inputmode="numeric"
                       maxlength="4"
                       name="otp"
                       pattern="[0-9]{4}"
                       required />
            </label>
            
        </div>
        <ul class="list text-left" id="issues">
            {% for issue in issues %}
                <li class="text-error text-sm my-1 list-item">{{ forloop.counter }}. {{ issue }}</li>
            {% endfor %}
        </ul>
        <div class="w-full">
            <button class="btn border-[#EF7B45] hover:bg-[#EF7B45] hover:text-[#000000] active:scale-90 transition-all w-full mt-6"
                    type="submit">Proceed</button>
        </div>
    </form>
</div>
