{% load static %}
<!DOCTYPE html>
<p class="font-mono py-2 text-6xl text-[#F4F4F9] tracking-wide">Reset pass</p>
<div class="fieldset flex-1 border-base-300 rounded-box w-[75vw] md:w-full border p-4">
  <form hx-post="{% url "reset" %}" hx-target="#authentication">
    {% csrf_token %}
    
    
    <div class="w-full text-left py-2">
      <label class="label tracking-xl text-[#F4F4F9] mr-2">New Password</label>
    </div>
    <div class="join w-full flex">
      <input type="password"
             class="input join-item w-full"
             placeholder="1234"
             id="passInput"
             name="passInput"
             required />
      <div class="join-item btn btn-accent flex items-center justify-center tooltip tooltip-top md:tooltip-bottom"
           id="passToggle"
           onclick="passwordToggle()"
           data-tip="Toggle password">
        <img src="{% static "eye-slash.svg" %}"
             id="passwordEmoji"
             class="h-6"
             alt="passwordToggle" />
      </div>
    </div>
    
    <ul class="list text-left" id="issues">
      {% for issue in issues %}
        <li class="text-error text-sm my-1 list-item">
          {% if issues|length != 1 %}
          {{ forloop.counter }}. 
          {% endif %}
          {{ issue }}</li>
      {% endfor %}
    </ul>
    
    <div class="w-full">
      <button class="btn border-[#EF7B45] hover:bg-[#EF7B45] hover:text-[#000000] active:scale-90 transition-all w-full mt-4"
              type="submit"
              onclick="innerHTML='Redirecting to login page...'">
              Reset Password</button>
    </div>
  </form>
  
</div>
