{% load static %}
<!DOCTYPE html>
<p class="font-mono py-2 text-6xl text-[#F4F4F9] tracking-wide">Signup</p>
<div class="fieldset flex-1 border-base-300 rounded-box w-[75vw] md:w-full border p-4">
  <form hx-post="{% url "signup" %}" hx-target="#authentication">
    {% csrf_token %}
    <label class="hidden" value="signup" name="nature"></label>
    <div class="w-full text-left pb-2">
      <label class="label tracking-xl text-[#F4F4F9]">Email</label>
    </div>
    <input class="input w-full" placeholder="john@doe" required id="email" name="email" maxlength="75"/>
    <div class="w-full text-left pb-2">
      <label class="label tracking-xl text-[#F4F4F9]">Username</label>
    </div>
    <input class="input w-full" placeholder="John Doe" required id="username" maxlength="20" name="username"/>
    <div class="w-full text-left py-2">
      <label class="label tracking-xl text-[#F4F4F9] mr-2">Password</label>
    </div>
    <div class="join w-full flex">
      <input type="password"
             class="input join-item w-full"
             placeholder="1234"
             id="passInput"
             maxlength="20"
             name="passInput"
             required />
      <div class="join-item btn btn-accent flex items-center justify-center tooltip tooltip-top md:tooltip-bottom"
           id="passToggle"
           onclick="passwordToggle()"
           data-tip="Toggle password">
        <img src="{% static "eye-slash.svg" %}"
             id="passwordEmoji"
             class="h-6"
             alt="passwordToggle" />
      </div>
    </div>
    
    <ul class="list text-left" id="issues">
      {% for issue in issues %}
        <li class="text-error text-sm my-1 list-item">
          {% if issues|length != 1 %}
          {{ forloop.counter }}. 
          {% endif %}
          {{ issue }}</li>
      {% endfor %}
    </ul>
    
    <div class="w-full">
      <button class="btn border-[#EF7B45] hover:bg-[#EF7B45] hover:text-[#000000] active:scale-90 transition-all w-full mt-4"
              type="submit"
              onclick=" 
              if ((document.getElementById('email').value != '') && (document.getElementById('username').value != '') && (document.getElementById('passInput').value != ''))
              { 
              innerHTML = 'Verifying details...' 
              } 
              ">
              Create Account</button>
    </div>
  </form>
  
</div>
<div class="flex flex-row w-[75vw] md:w-full">
  <button hx-get="{% url "login" %}" hx-target="#authentication"
     class="link link-hover ml-auto text-lg text-neutral-content leading-10 hover:text-accent">Have an account? Login!</button>
</div>
