<!DOCTYPE html>
<html lang="en">
    <head>
        <title>OpenCircle | Dashboard</title>
        <meta charset="UTF-8" />
        <meta name="description"
              content="OpenCircle | An open-source Django social media platform for the specially abled. Made with lub by some random sigma from India" />
        <meta name="keywords"
              content="Open-source, Django, social media, Specially abled, Modern UI" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://cdn.jsdelivr.net/npm/daisyui@5"
              rel="stylesheet"
              type="text/css" />
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <script src="https://unpkg.com/htmx.org@2.0.4"></script>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css"
              rel="stylesheet"
              type="text/css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
        <link href="https://fonts.googleapis.com" rel="stylesheet" />
        <style type="text/css">
            @theme {
                --font-heading: "Montserrat", sans-serif;
                --font-body: "Inter", sans-serif;
                --font-mono: "JetBrains Mono", monospace;
                --font-serif: "Playfair Display", serif;
                --font-sans: InterVariable, sans-serif;
                --font-sans--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
            }
        </style>
    </head>
    <body hx-boost="True">

        <div class="flex place-items-center justify-center my-4">
            <p class="text-3xl tracking-wide">Welcome back!</p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 place-items-center justify-center">
            <div class="grid-item">
                <div class="bg-base-300 w-auto h-auto">
                    <div class="card">
                        hi
                    </div>
                </div>
            </div>

            <div class="grid-item">
                <div class="bg-base-300 w-auto h-auto">
                    <div class="card">
                        yo
                    </div>
                </div>
            </div>
        </div>
        <div class="fab fab-flower m-4">
            <div tabindex="0" role="button" class="btn btn-lg btn-circle btn-primary">F</div>
            <button class="btn btn-lg btn-circle">
                <svg></svg>
            </button>
            <button class="btn btn-lg btn-circle"><svg></svg></button>
            <button class="btn btn-lg btn-circle"><svg></svg></button>
            <button class="btn btn-lg btn-circle"><svg></svg></button>
        </div>
    </body>
</html>
